<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List </title>
    <link rel="icon" href="favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    